@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background-image: url('./assets/stage.jpeg');
  background-position: center;
}

#root {
  padding: 0;
}

h1 {
  /* margin: none; */
}

button {
  border-radius: 8px;
}

input {
  border-radius: 8px;
  border: none;
  outline: none;
}

#input:focus {
  border: 2px solid blue;
}

.option {
  cursor: pointer;
}

.option:hover {
  color: yellow;
  text-shadow: white 1px 0px 10px
}

.start-modal {
  background-color: rgb(23, 44, 67, 0.7);
}

@keyframes blink {
  from {
    background-color: (243 244 246);
  }

  30% {
    background-color: rgb(60, 60, 162);
  }

  to {
    background-color: (243 244 246);
  }
}

.sound {
  animation-name: blink;
  animation-duration: 1s;
}