@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  padding: 0;
  margin: 0;
  background-image: url('./assets/stage.jpeg');
  background-position: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#root {
  padding: 0;
}

h1 {
  /* margin: none; */
}

button {
  border-radius: 8px;
}

input {
  border-radius: 8px;
  border: none;
  outline: none;
}

#input:focus {
  border: 2px solid blue;
}

.option {
  cursor: pointer;
}

.option:hover {
  color: yellow;
  text-shadow: white 1px 0px 10px
}

.start-modal {
  background-color: rgb(23, 44, 67, 0.7);
}

@keyframes blink {
  from {
    background-color: (243 244 246);
  }

  30% {
    background-color: rgb(60, 60, 162);
  }

  to {
    background-color: (243 244 246);
  }
}

.sound {
  animation-name: blink;
  animation-duration: 1s;
}

.glow {
  animation: glow 1.5s ease-in-out infinite alternate;
}

.wait-btn {
  animation: pulse 1s infinite ease-in;
}

.wait-btn:hover {
  transform: scale(1.1);
}

@keyframes pulse {
  0% {
    box-shadow: 3px 3px 2px orange;
  }

  25% {
    box-shadow: -3px 3px 2px orange;
  }

  50% {
    box-shadow: -3px -3px 2px orange;
  }

  75% {
    box-shadow: 3px -3px 2px orange;
  }

  100% {
    box-shadow: 3px 3px 2px orange;
  }
}

@keyframes glow {
  from {
    text-shadow: 0 0 0px #fff;
  }

  50% {
    text-shadow: 0 2px 50px yellow;
  }

  to {
    text-shadow: 0 0 0px #fff;
  }
}